body {
  font-size: 16px;
  color: #fff;
  background-color: #da730b;
  font-family: 'Oxygen', sans-serif;
  background-attachment: fixed;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  background-image: linear-gradient(to bottom right, #804000, #cc6600);
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/logo.jpg') no-repeat;
  background-size: 100% 100%;
  width: 180px;
  height: 120px;
  margin: 10px 25px 10px 0;
  border-radius: 10px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


.navbar-brand p {
  color: #ffffff;
  font-size: .7em;
  margin-top: 10px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #eeeeee;
  text-align: center;
}

#nav-list a:hover {
  background: #da730b;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone a {
  padding-right: 15px;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #eeeeee;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}
/* Header End here*/


/* main page*/

.container-fluid .jumbotron {
  padding: 5px;
  box-shadow: 0 0 10px #aaaaaa;
}

.container-fluid .img-responsive {
  height: 100%;
}

.changing-image {
  border-radius: 5px;
}

#plan-tour-tile, #explore-tile, #best-deal-tile {
  height: 25vw;
  max-height: 200px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
}


#plan-tour-tile:hover, #explore-tile:hover, #best-deal-tile:hover {
  box-shadow: 0 2px 6px 2px #ffffff;
}

#plan-tour-tile {
  background: url('../images/best-deal.jpg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#explore-tile {
  background: url('../images/explore.jpg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#best-deal-tile {
  background: url('../images/plan.jpg') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#plan-tour-tile span, #explore-tile span, #best-deal-tile span {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 1.4em;
  background-color: #000000;
  color: #ffffff;
  opacity: .69;
}

/* Extra small devices */

@media (max-width: 767px){

  #plan-tour-tile, #explore-tile, #best-deal-tile {
    width: 250px;
    margin: 0 auto 15px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 {
    font-size: 1.5em;
  }

  .container-fluid>.navbar-header {
    height: 80px;
  }

  .navbar-header button.navbar-toggle {
    padding: .4em;
  }

  .navbar-brand p {
    font-size: .7em;
    margin-top: 10px;
    margin-right: 10vw;
    line-height: 15px;
  }

  #collapsable-nav a {
    font-size: .8em;
  }

  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  .carousel {
    margin: -3px;
  }

  .carousel-inner>.item>img {
    height: 40vw;
  }

  #testimonials, #about_developer {
    font-size: .8em;
    position: relative;
    line-height: 1em;
  }

  #testimonials > .author {
    position: absolute;
    font-size: .9em; 
    right: 0;
    padding-right: 16px;
  }
} /* extra small devices end */

/* Main page end*/

/* Plan Tour */ 
.navbar-default .navbar-nav>.active>a {
  background-color: #da730b;
}

.category-tile {
  position: relative;
  border:2px solid #cccccc;
  overflow: hidden;
  height: 200px;
  width: 27vw;
  margin: 0 auto 30px;
  border-radius: 5px;
}

.category-tile img {
  height: 100%;
  width: 100%;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #cccccc;
  opacity: .69;
  background: #000000;
}

.category-tile:hover {
  box-shadow: 0 2px 6px 2px #ffffff;
}


@media (max-width: 991px) and (min-width: 768px){
  .category-tile {
    height: 200px;
    margin-bottom: 15px;
    width: 36vw;
  }
}

@media (max-width: 767px) {
  .category-tile {
    height: 180px;
    margin-bottom: 30px;
    width: 250px;
  }
} 
/* Plan Tour end here */


/* Single plan */

#slide-img .item {
  width: 60vw;
  height: 39vw;
  background-size:cover;
  background-position: center center;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

#slide-img .item:nth-child(1) {
  background-image: url("../images/plan_tour/single_plan/image6.jpg");
}

#slide-img .item:nth-child(2) {
  background-image: url("../images/plan_tour/single_plan/image1.jpg");
}

#slide-img .item:nth-child(3) {
  background-image: url("../images/plan_tour/single_plan/image2.jpg");
}

#slide-img .item:nth-child(4) {
  background-image: url("../images/plan_tour/single_plan/image8.jpg");
}

#booking-details {
  padding-right: 35px;
}

.move-left {
  float: left;
}

.move-right {
  float: right;
}

.button-container {
  clear: both;
  padding-top: 20px;
}

.booking-button {
  background-color: #eeeeee; 
  border: 2px solid #804000;
  border-radius: 5px;
  color: #da730b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.booking-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* single plan ends here */

/* Footer */

.panel-footer {
  margin-top: 20px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 20px;
}

#testimonials, #about_developer {
  line-height:  ;
}

#testimonials > span, #about_developer > span {
  font-size: 1.15em;
}

#about_developer {
  text-align: right;
}

#testimonials > .author {
    font-size: .9em; 
    font-style: monospace;
}

.container-fluid > .text-center {
  line-height: .2em;
}
/* Footer end here */


