body {
  font-size: 16px;
  color: #fff;
  background-color: #da730b;
  font-family: 'Oxygen', sans-serif;
  background-attachment: fixed;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  background-image: linear-gradient(to bottom right, #804000, #cc6600);
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/logo.jpg') no-repeat;
  background-size: 100% 100%;
  width: 180px;
  height: 120px;
  margin: 10px 25px 10px 0;
  border-radius: 10px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


.navbar-brand p {
  color: #ffffff;
  font-size: .7em;
  margin-top: 10px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #eeeeee;
  text-align: center;
}

#nav-list a:hover {
  background: #da730b;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone a {
  padding-right: 15px;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #eeeeee;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* Extra small devices */

@media (max-width: 767px) {

  .navbar-brand {
    padding-top: 10px;
  }

  .navbar-brand h1 {
    font-size: 4vw;
  }

  .navbar-brand p {
    font-size: .6em;
    margin-top: 4px;
  }

  #collapsable-nav a {
    font-size: .8em;
  }

  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  .changing-image {
    height: 32vw;
    margin: 0;
    padding: 0;
  }
}


.changing-image {
  height: 30vw;
  padding: 0;
  margin: 0;
}